################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/order-summary/FileContentIndex/927409e0-ff63-4a49-a82e-765bb5395edf.vsidx
